.login {
  margin: 0 2px;
  float: right;
  background-color: rgba(207, 11, 11, 0.493);
  transition: all 0.5s;
}

/*klik*/
.login:hover {
  
  background-color: rgba(255, 255, 255, 0.5);
  
}

.info:hover {
  
  background-color: rgba(255, 255, 255, 0.5);
  
}

.artikel:hover {
  
  background-color: rgba(255, 255, 255, 0.5);
  
}

.home:hover {
  
  background-color: rgba(255, 255, 255, 0.5);
  
}

.profil:hover {
  
  background-color: rgba(255, 255, 255, 0.5);
  
}

a {
  text-decoration: none;
}
